<h2>Please enter your address to search for current representatives</h2>


<%= form_with url: representatives_path, method: :get, :class => "mbe", local: true do |f| %> 
  <%= f.label "street address" %>
  <%= f.text_field :street_address %>  <br>

  <%= f.label "city" %>
  <%= f.text_field :city, :required => true %>  <br>

  <%= f.label "state" %>
  <%= f.select :state, options_for_select(us_states, "CO") %>  <br>

  <%= f.label "zip code" %>
  <%= f.text_field :zip_code %>  <br>

  <%= f.submit 'search' %> 
<% end %> 
